*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
}

div.todo-list{
    width: 30%;
    margin: 0 auto;
    background-color: lightblue;
}

ul {
    padding: 2rem;
    font-size: 1.3rem;
}